<ion-view title="Gradebooks View">
  <ion-header-bar align-title="center" class="app_header">
    <h1 class="title">Gradebooks</h1>
  </ion-header-bar>
  <ion-content padding="false">
    <!-- <div class="bar bar-header bar-stable">
      <h1 class="title">Gradebooks</h1>
    </div> -->
    <!-- <div class="app_header"> <h2>Gradebooks</h2></Div> -->
    <div class="card" ng-repeat="gradebook in gradebooksList track by $index"
                      ng-click="displayID(gradebook.id)">
      <div class="item item-text-wrap">
        {{ gradebook.name }}
      </div>
      <div class="item item-divider">
        <strong>GPA: </strong>
        {{ gradebook.GPA }}
        <strong>, Hours: </strong>
        {{ gradebook.hours }}
      </div>
    </div>
    <div class="row">
       <div class="col text-right">
         <button class="button icon ion-plus-round plus-circle" ng-click="createGradebook()"></button>
       </div>
    </div>
  </ion-content>
</ion-view>
