<ion-view title="Term View">
  <ion-header-bar align-title="center" class="app_header">
    <h1 class="title">{{currentTerm.name}}</h1>
  </ion-header-bar>
  <ion-content padding="false">
    <!-- <div class="bar bar-header bar-stable">
      <h1 class="title">Gradebooks</h1>
    </div> -->
    <!-- <div class="app_header"> <h2>Gradebooks</h2></Div> -->
    termGPA: {{termGPA}}, termHours: {{termHours}}
    cumulGPA: {{cumulGPA}}, cumulHours: {{cumulHours}}
    <div class="card" ng-repeat="course in coursesList track by $index">
      <div class="item item-text-wrap  item-icon-right">
        {{ course.name }}
        <i class="icon ion-android-more-vertical"  ng-click="openPopover($event, course.id)"></i>
      </div>
      <div class="item item-divider">
        <strong>Grade: </strong>
        <select ng-model="selectedGrade" ng-init="selectedGrade= course.grade"  ng-selected="selectedGrade" ng-change="updateGrade(course.id, selectedGrade)"
        ng-options="grade.points as grade.name for grade in gradingScaleList">
          <!-- <option ng-repeat="grade in gradingScaleList track by $index"  ng-value="grade.points" ng-selected="grade.points == course.grade">{{grade.name}}</option> -->
          <!-- <option selected ng-repeat="grade in gradingScaleList track by $index"  ng-value="grade.points" ng-if="grade.points == course.grade">{{grade.name}}</option> -->
          <!-- <option ng-repeat="grade in gradingScaleList track by $index"  ng-value="grade.points" ng-if="grade.points < course.grade">{{grade.name}}</option> -->
        </select>
        <strong>, Hours: </strong>
        <input type="tel"  ng-model="inputHours" ng-value="{{course.hours}}" ng-change="updateHours(course.id, inputHours)">
      </div>
    </div>
    <div class="row">
       <div class="col text-right">
         <button class="button icon ion-plus-round plus-circle" ng-click="createCourse()"></button>
       </div>
    </div>
  </ion-content>
</ion-view>
