<ion-view title="Term View">
  <div ng-class="{'blur-effect': settingsButtonClicked}">
    <ion-header-bar align-title="center" class="app_header">
      <h1 class="title">{{currentTerm.name}}</h1>
    </ion-header-bar>
  </div>
  <ion-content padding="false">
    <div ng-class="{'blur-effect': settingsButtonClicked}">
      <!-- <div class="bar bar-header bar-stable">
        <h1 class="title">Gradebooks</h1>
      </div> -->
      <!-- <div class="app_header"> <h2>Gradebooks</h2></Div> -->
      termGPA: {{termGPA}}, termHours: {{termHours}}
      cumulGPA: {{cumulGPA}}, cumulHours: {{cumulHours}}
      <div class="card" ng-repeat="course in coursesList track by $index">
        <div class="item item-text-wrap  item-icon-right">
          {{ course.name }}
          <i class="icon ion-android-more-vertical"  ng-click="openPopover($event, course.id)"></i>
        </div>
        <div class="item item-divider course-item">
          <strong>Grade: </strong>
          <select ng-model="selectedGrade" ng-init="selectedGrade= course.grade"  ng-selected="selectedGrade" ng-change="updateGrade(course.id, selectedGrade)"
          ng-options="grade.points as grade.name for grade in gradingScaleList">
            <!-- <option ng-repeat="grade in gradingScaleList track by $index"  ng-value="grade.points" ng-selected="grade.points == course.grade">{{grade.name}}</option> -->
            <!-- <option selected ng-repeat="grade in gradingScaleList track by $index"  ng-value="grade.points" ng-if="grade.points == course.grade">{{grade.name}}</option> -->
            <!-- <option ng-repeat="grade in gradingScaleList track by $index"  ng-value="grade.points" ng-if="grade.points < course.grade">{{grade.name}}</option> -->
          </select>
          <strong>, Hours: </strong>
          <input type="tel"  ng-model="inputHours" ng-value="{{course.hours}}" ng-change="updateHours(course.id, inputHours)">
        </div>
      </div>
      <div class="row">
         <div class="col text-right">
           <button class="button icon ion-plus-round plus-circle" ng-click="createCourse()"></button>
         </div>
      </div>
    </div>
  </ion-content>
  <div ng-class="{'trans-overlay': settingsButtonClicked}" ng-click="removeOverlay()"></div>
  <div class="float-button">
      <a class="content" ng-click="settingsButtonClicked = !settingsButtonClicked">
        <i class="ion-ios-arrow-right"> </i>
      </a>
  </div>
  <div class="settings-buttons" ng-show="settingsButtonClicked">
    <span class="height-fix">
      <ul class="content">
        <li ng-repeat="button in settingsButtons"  ng-click="{{button.onClick}}">
          <div class="button-wraper">
            <i class="{{button.icon}}"> </i>
          </div>
          <div class="text-wraper">
            {{button.name}}
          </div>
        </li>
      </ul>
    </span>
  </div>
</ion-view>
