 /*Empty. Add your own CSS if you like */
.app_header {
    /*list-style-type: none;*/
    /*font-family: helvetica;*/
    /*font-size: 18px;*/
    /*text-align: center;*/
    /*display: block;
    width: auto;
    height: auto;*/
    /*margin: 0;
    padding: 0;*/
    /*overflow: hidden;*/
    background: #00b8c9;
    /*#218D9B;#45CEE0;*/
    border-radius: 3px;
    color: #fff;
    /*display: block;*/
    /*font-size: 30px;*/
    /*margin: 0 0 10px;*/
    /*padding: 10px;*/
    text-align: center;
    /*background-color: #008000;*/
}

.plus-circle {
  border-radius: 50%;
  /*background: #45CEE0;*/
  background: none;
  color : #218D9B;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
}
ion-popover-view.fit {
  height: auto !important;
  width: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

ion-popover-view.fit span {
  text-align: center;
}

.popover-item-top {
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.popover-item-bottom {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.options-delete {
  color:red;
  /*font-weight:bold;*/
}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /*width: 25px;*/
  padding: 25px;
  background: #45CEE0;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  left: 20px; /* Adjust to where you want it */
  z-index: 9999;
  filter:drop-shadow(5px 5px 10px grey);
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-top: -12px; /* Note, this must be half the font size */
  color: $light;
}

.course-item {
   display: inline-block;
}

.course-item select {
  display: inline-block;
   background: transparent;
   border: none;
  margin-bottom: 20px;
  text-align: center;
   border-bottom: 2px solid #218D9B;
}

.course-item input {
  display: inline-block;
  background: transparent;
  width: 15%;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #218D9B;
}

.trans-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.blur-effect {
-webkit-filter: blur(2px);
filter: blur(2px);
/*background: rgba(0, 0, 0, 0.3);*/
}

.settings-buttons {
  position: fixed;
  /*width: 200px;*/
  /*background: red;*/

  padding: 100%;
  bottom: 75px; /* Adjust to where you want it */
  left: 18px; /* Adjust to where you want it */
  z-index: 9999;
  filter:drop-shadow(5px 5px 10px grey);
  pointer-events: none;
}

.settings-buttons .height_fix {
  /*margin-top: 100%;*/
}

.settings-buttons .content {
  position: absolute;
  /*background: green;*/
  bottom: 0;
  left: 0;
  pointer-events: visiblePainted;
  /*height: 100%;
  width: 100%;*/
  /*display: inline-block;*/
  /*text-align: center;*/
  /*margin-top: -25px; /* Note, this must be half the font size */*/
  /*margin-left: -200px;*/
  /*color: $light;*/
}

.settings-buttons .content li {
  /*background: yellow;*/
  /*position: relative;*/
  /*right: 50px;*/
  padding: 8px;
  text-align: left;
   /*border: 2px solid #218D9B;*/
}

.settings-buttons .content .button-wraper {
  position: relative;
  left: 0;
  /*top: 50%;*/
  background: #45CEE0;
  display: inline-block;
  margin-top: -25px;
  /*font-size: 24px;*/
  /*position: relative;
  top: 5px;
  left: 5px;*/
  /*width: 25px;*/
  height: 40px;
  width: 40px;
  padding-top: 6px;
  text-align: center;
  border: 1px solid #218D9B;
  /*color : #218D9B;*/
  /*padding: 25px;*/
  /*font-size: 24px;*/
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.settings-buttons .content .button-wraper i {
  position: relative;
  bottom: 1px;
  /*top: 50%;*/
  /*background: green;*/
  /*display: inline-block;*/
  /*font-size: 24px;*/
  /*margin-top: -25px;*/
  /*position: relative;
  top: 5px;
  left: 5px;*/
  /*width: 25px;*/
  /*height: 40px;*/
  /*width: 40px;*/
  padding-bottom: 15px;
  /*text-align: center;*/
  color : #218D9B;
  /*padding: 25px;*/
  font-size: 24px;
  /*border-radius: 50%;*/
  /*-webkit-border-radius: 50%;*/
  /*-moz-border-radius: 50%;*/
}

.settings-buttons .content .text-wraper {
  position: relative;
  /*top: 50%;*/
  /*right: 0;*/
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-size: 16px;
  /*font-weight: bold;*/
  /*margin-top: 12px;*/
  /*position: relative;
  top: 5px;
  left: 5px;*/
  /*width: 25px;*/
  /*height: 40px;
  width: 40px;*/
  padding: 7px 10px 7px 10px;
  text-align: center;
  color : #45CEE0;
  /*border: 2px solid #218D9B;*/
  border-radius: 3px;
  /*padding: 25px;*/
  /*font-size: 24px;*/
}

/*.bar-header{
  height: 80px
}

.has-header{
  top:80px
}*/

/*
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.box {
  background-color: #218D9B;
  border-radius: 3px;
  height: 50px;
  width: 500px;
}

.transform {
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 1s linear;
}

.transform-active {
  background-color: #45CEE0;
  height: 150px;
}*/
