 /*Empty. Add your own CSS if you like */
 .pane {
     /*background-color: #e8f0ff;*/
     /*#e0ecff;*/
     /*#aaf5ff;*/
 }

.app_header {
    /*list-style-type: none;*/
    /*font-family: helvetica;*/
    /*font-size: 18px;*/
    /*text-align: center;*/
    /*display: block;
    width: auto;
    height: auto;*/
    /*margin: 0;
    padding: 0;*/
    /*overflow: hidden;*/
    background: #00b8c9;
    /*#218D9B;#45CEE0;*/
    border-radius: 3px;
    color: #fff;
    /*display: block;*/
    /*font-size: 30px;*/
    /*margin: 0 0 10px;*/
    /*padding: 10px;*/
    text-align: center;
    /*background-color: #008000;*/
}

.item_header {
  height: 16vh;
  display: block;
  color: black;
}

.item_header .itemTitle{
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-right: 12vw;
  margin-left: 12vw;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px dotted #aed6f1;
}

.item_header .item_Data{
  margin-top: 2vh;
  text-align: center;
  display: inline-block;
}

.item_Data .termGPA{
  /*margin: 2vw;*/
  margin-right: 6vw;
  position: relative;
  text-align: center;
  display: inline-block;
}

.item_Data .cumliGPA{
  /*margin: 2vw;*/
  margin-left: 6vw;
  position: relative;
  text-align: center;
  display: inline-block;
}

.item_Data .label{
  position: relative;
  /*margin-bottom: 5px;
  padding-bottom: 2px;*/
  border-bottom: 1px solid #aed6f1;
  font-size: 10px;
  /*background: red;*/
  display: inline-block;
}

.item_Data .data{
  position: relative;
  font-size: 35px;
  display: inline-block;
  /*background: green;*/
}

.item_content {
  top: 16vh;
}

.plus-circle {
  border-radius: 50%;
  /*background: #45CEE0;*/
  background: none;
  color : #218D9B;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
}
ion-popover-view.fit {
  height: auto !important;
  width: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

ion-popover-view.fit span {
  text-align: center;
}

.popover-item-top {
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.popover-item-bottom {
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.options-delete {
  color:red;
  /*font-weight:bold;*/
}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /*width: 25px;*/
  padding: 25px;
  background: #45CEE0;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  left: 20px; /* Adjust to where you want it */
  z-index: 9999;
  filter:drop-shadow(5px 5px 10px grey);
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-top: -12px; /* Note, this must be half the font size */
  color: $light;
}

.indented {
  /*position: absolute;*/
  background: #efefef;
  /*left: 20px;*/
  top: 0px;
}

.indented a {
  /*position: absolute;*/
  background-color: inherit;
  /*left: 20px;*/
  top: 0px;
}

.course-item {
   display: inline-block;
}

.course-item select {
  display: inline-block;
   /*background: red;*/
   border: none;
   margin-left: 12vw;
   width: 24vw;
   height: 8vw;
  /*margin-bottom: 20px;*/
  text-align: center;
  background: transparent;
   border-bottom: 2px solid #218D9B;
}

.course-item input {
  display: inline-block;
  /*background: green;*/
  /*width: 15%;*/
  margin-left: 10vw;
  width: 24vw;
  height: 8vw;
  /*margin-bottom: 20px;*/
  text-align: center;
  border-bottom: 2px solid #218D9B;
}

.course-name {
  /*background: red;*/
  margin-top: 2vw;
  height: 6.5vw;
  overflow: hidden;
  /*text-align: center;*/
  /*color: blue;*/
}

.trans-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.blur-effect {
-webkit-filter: blur(2px);
filter: blur(2px);
/*background: rgba(0, 0, 0, 0.3);*/
}

.settings-buttons {
  position: fixed;
  /*width: 200px;*/
  /*background: red;*/

  padding: 100%;
  bottom: 75px; /* Adjust to where you want it */
  left: 18px; /* Adjust to where you want it */
  z-index: 9999;
  filter:drop-shadow(5px 5px 10px grey);
  pointer-events: none;
}

.settings-buttons .height_fix {
  /*margin-top: 100%;*/
}

.settings-buttons .content {
  position: absolute;
  /*background: green;*/
  bottom: 0;
  left: 0;
  pointer-events: visiblePainted;
  /*height: 100%;
  width: 100%;*/
  /*display: inline-block;*/
  /*text-align: center;*/
  /*margin-top: -25px; /* Note, this must be half the font size */*/
  /*margin-left: -200px;*/
  /*color: $light;*/
}

.settings-buttons .content li {
  /*background: yellow;*/
  /*position: relative;*/
  /*right: 50px;*/
  padding: 8px;
  text-align: left;
   /*border: 2px solid #218D9B;*/
}

.settings-buttons .content .button-wraper {
  position: relative;
  left: 0;
  /*top: 50%;*/
  background: #45CEE0;
  display: inline-block;
  margin-top: -25px;
  /*font-size: 24px;*/
  /*position: relative;
  top: 5px;
  left: 5px;*/
  /*width: 25px;*/
  height: 40px;
  width: 40px;
  padding-top: 8px;
  text-align: center;
  border: 1px solid #218D9B;
  /*color : #218D9B;*/
  /*padding: 25px;*/
  /*font-size: 24px;*/
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.settings-buttons .content .button-wraper i {
  position: relative;
  bottom: 1px;
  /*top: 50%;*/
  /*background: green;*/
  /*display: inline-block;*/
  /*font-size: 24px;*/
  /*margin-top: -25px;*/
  /*position: relative;
  top: 5px;
  left: 5px;*/
  /*width: 25px;*/
  /*height: 40px;*/
  /*width: 40px;*/
  padding-bottom: 15px;
  /*text-align: center;*/
  color : #218D9B;
  /*padding: 25px;*/
  font-size: 24px;
  /*border-radius: 50%;*/
  /*-webkit-border-radius: 50%;*/
  /*-moz-border-radius: 50%;*/
}

.settings-buttons .content .text-wraper {
  position: relative;
  /*top: 50%;*/
  /*right: 0;*/
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-size: 16px;
  /*font-weight: bold;*/
  /*margin-top: 12px;*/
  /*position: relative;
  top: 5px;
  left: 5px;*/
  /*width: 25px;*/
  /*height: 40px;
  width: 40px;*/
  padding: 7px 10px 7px 10px;
  text-align: center;
  color : #45CEE0;
  /*border: 2px solid #218D9B;*/
  border-radius: 3px;
  /*padding: 25px;*/
  /*font-size: 24px;*/
}

.card-wrapper {
  position: relative;
  width: 92vw;
  height: 10vw;
  margin: 4vw;
  /*margin-bottom: 50px;
  margin-top: 4vw;*/
  background-color: #218D9B;
  -webkit-animation-name: card_layer;
  -webkit-animation-duration: 1s;
  animation-name: card_layer;
  animation-duration: 1s;
}

.card-wrapper .item-wrapper {
  position:absolute;
  top:0;
  right:0;
  width: 92vw;
  height: 9.8vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  /*padding-top: 8px;*/
  background-color: white;
  -webkit-animation-name: item_layer;
  -webkit-animation-duration: 1s;
  animation-name: item_layer;
  animation-duration: 1s;
}

.item-wrapper .item-name {
  /*color: blue;*/
  position: relative;
  max-width: 46%;
  max-height: 5vw;
  top: 20%;
  left: 2%;
  font-size: 4vw;
  overflow: hidden;
  /*background-color: green;*/
  display: inline-block;
}

.item-wrapper .item-GPA {
  position: absolute;
  /*bottom: 0;*/
  right: 32%;
  max-width: 20%;
  min-width: 12%;
  height: 100%;
  /*background-color: yellow;*/
  overflow: hidden;
  display: inline-block;
}

.item-wrapper .item-hours {
  position: absolute;
  /*bottom: 0;*/
  right: 9%;
  max-width: 27%;
  min-width: 14%;
  height: 100%;
  /*background-color: purple;*/
  overflow: hidden;
  display: inline-block;
}

.item-wrapper .data {
  position: relative;
  top: 20%;
  left: 0;
  font-size: 6vw;
  /*background-color: red;*/
  display: inline-block;
}

.item-wrapper .label {
  position: relative;
  top: 30%;
  right: 0;
  font-size: 3vw;
  /*background-color: lightgrey;*/
  display: inline-block;
}

.item-wrapper .item-icon {
/*background-color: orange;*/
display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 8vw;
}

@-webkit-keyframes card_layer {
    0%   {width:0vw; height:10vw;}
    /*10%  {width:1.8vw; height:0.9vw;}
    25%  {width:1.8vw; height:10vw;}*/
    100% {width:92vw; height:10vw;}
}

@keyframes card_layer {
    0%   {width:0vw; height:10vw;}
    /*10%  {width:1.8vw; height:0.9vw;}
    25%  {width:1.8vw; height:10vw;}*/
    100% {width:92vw; height:10vw;}
}


@-webkit-keyframes item_layer {
    0%   {width:0vw; height:9.8vw;}
    /*10%  {width:0vw; height:0vw;}
    25%  {width:0vw; height:9.2vw;}*/
    100% {width:92vw; height:9.8vw;}
}

@keyframes item_layer {
    0%   {width:0vw; height:9.8vw;}
    /*10%  {width:0vw; height:0vw;}
    25%  {width:0vw; height:9.2vw;}*/
    100% {width:92vw; height:9.8vw;}
}

.header-1 {
  position: fixed;
  top: 6.5%;
  left: 0;
  width: 100vw;
  height: 4vw;
  /*padding: 25px;*/
  background: #00b8c9;
  /*background: yellow;*/
  z-index: 9999;
}

.header-1 .header-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 5vw;
  /*padding: 90px;*/
  background: white;
  border-top-right-radius: 5px;
  /*background: yellow;*/
  z-index: 9999;
}

.header-1 .header-3 {
  position: absolute;
  top: 0;
  left: 50vw;
  width: 38vw;
  height: 5vw;
  text-align: center;
  /*font-size: 14px;*/
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /*padding: 25px;*/
  background: #00b8c9;
  /*background: yellow;*/
  /*z-index: 9999;*/
}

.header-1 .header-4 {
  position: absolute;
  top: 0;
  right: 0;
  width: 12vw;
  height: 5vw;
  /*padding: 25px;*/
  background: white;
  border-top-left-radius: 5px;
  /*background: yellow;*/
  z-index: 9999;
}

/*.bar-header{
  height: 80px
}

.has-header{
  top:80px
}*/

/*
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.box {
  background-color: #218D9B;
  border-radius: 3px;
  height: 50px;
  width: 500px;
}

.transform {
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -ms-transition: all 1s linear;
  transition: all 1s linear;
}

.transform-active {
  background-color: #45CEE0;
  height: 150px;
}*/

/*.small {
position:relative;
top:0px;
left:0px;
    width: 500px;
    height: 50px;
    background-color: #218D9B;
    -webkit-animation-name: example_small;
    -webkit-animation-duration: 1s;
    animation-name: example_small;
    animation-duration: 1s;
}

.large {
position:absolute;
top:0px;
left:10px;
    width: 490px;
    height: 48px;
    background-color: #45CEE0;
    -webkit-animation-name: example_largel;
    -webkit-animation-duration: 1s;
    animation-name: example_large;
    animation-duration: 1s;
}

@-webkit-keyframes example_small {
    0%   {width:0px; height:0px;}
    10%  {width:10px; height:5px;}
    25%  {width:10px; height:50px;}
    100% {width:500px; height:50px;}
}

@keyframes example_small {
    0%   {width:0px; height:0px;}
    10%  {width:10px; height:5px;}
    25%  {width:10px; height:50px;}
    100% {width:500px; height:50px;}
}


@-webkit-keyframes example_large {
    0%   {width:0px; height:0px;}
    10%  {width:0px; height:0px;}
    25%  {width:0px; height:48px;}
    100% {width:490px; height:48px;}
}

@keyframes example_large {
    0%   {width:0px; height:0px;}
    10%  {width:0px; height:0px;}
    25%  {width:0px; height:48px;}
    100% {width:490px; height:48px;}
}
for <div class="small">
 <div class="large"></div>
</div>*/
